$color-white: aliceblue;

body {
    background-image: url("playlist1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.h1 {
    color: $color-white;
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 47%;
}

.h2 {
    color: $color-white;
    position: absolute;
    top: 5%;
    left: 11%;
}

.logo1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 8%;
}

.dws {
    position: absolute;
    top: 10.5%;
    left: 75%;
    transform: translate(-8%, -70%);
}

.butt {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: $color-white;
    text-decoration: none;
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background:rgb(212, 224, 224);
        top: 0;
        left: -100%;
        opacity: 0.5;
        transition: 0.5s;
    }

    &:hover::before {
        left: 0;
    }
}

.center form .block1 {
    position: absolute;
    top: 27%;
    left: 36%;
}

.center form .block1 .row {
    display: inline-block;
    margin-left: 60px;
    height: 50px;
    width: 150px;
}

.row input {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 15px;
}

.center form .block2 {
    position: absolute;
    top: 38%;
    left: 39.7%;
}

.center form .block2 .row {
    margin-bottom: 30px;
    height: 50px;
    width: 368px;
}

.center form .row .register {
    position: absolute;
    top: 80%;
    left: 39.7%;
    height: 50px;
    width: 368px;
    margin-left: 12px;
    background-color: dimgray;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $color-white;
}

.ending {
    color: $color-white;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 93%;
    left: 61.5%;
    transform: translate(-90%, -61.5%);
}
