*{
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(20, 19, 19);
}

.t1 {
    color:aliceblue;
    position: absolute;
    top: 3.1%;
    left: 4.5%;
}

.top .logo1 {
    position: absolute;
    top: 2%;
    left: 1%;
    height: 50px;
    width: 50px;
}

.center .t2 {
    position: absolute;
    top: 20%;
    left: 32%;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.center form .block {
    position: absolute;
    top: 75%;
    left: 38%;
}

.center form .block .row {
    display: inline-block;
    height: 50px;
    width: 150px;
}

.center form .block .row .cancel {
    position: absolute;
    top: 28%;
    left: 50%;
    height: 47px;
    width: 150px;
    margin-left: 35%;
    border-radius: 30px;
    background-color:darkgray;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 47px;
    color:black;
    border: 2px solid black;
}

.center form .block .row .add {
    position: absolute;
    top: 28%;
    left: 5%;
    height: 47px;
    width: 150px;
    margin-left: 1%;
    border-radius: 30px;
    background-color:darkgray;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 47px;
    color:black;
    border: 2px solid black;
}