$color-black: black;

*{
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(20, 19, 19);
}

.t1 {
    color: aliceblue;
    position: absolute;
    top: 3.1%;
    left: 4.5%;
}

.top .logo1 {
    position: absolute;
    top: 2%;
    left: 1%;
    height: 50px;
    width: 50px;
}

.center .t2 {
    position: absolute;
    top: 20%;
    left: 43.5%;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

 
.center form .block1 {
    position: absolute;
    top: 35%;
    left: 39.5%;
}

.center form .block1 .row {
    margin-bottom: 10%;
    height: 50px;
    width: 368px;
}

.center form .block1 .row input {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding-left: 5%;
    font-size: 15px;
}

.center form .block2 {
    position: absolute;
    top: 75%;
    left: 39%;
}

.center form .block2 .row {
    display: inline-block;
    height: 50px;
    width: 150px;
}

.center form .block2 .row .cancel {
    position: absolute;
    top: 28%;
    left: 50%;
    height: 47px;
    width: 150px;
    margin-left: 22%;
    border-radius: 30px;
    background-color:darkgray;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 47px;
    color:$color-black;
    border: 2px solid $color-black;
}

.center form .block2 .row .confirm {
    position: absolute;
    top: 28%;
    left: 5%;
    height: 47px;
    width: 150px;
    margin-left: 5%;
    border-radius: 30px;
    background-color:darkgray;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 47px;
    color:$color-black;
    border: 2px solid $color-black;
}