$color-white: aliceblue;

*{
    margin: 0%;
    padding: 0%;
}

.h1 {
    position: absolute;
    color:rgb(95, 102, 102);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 320%;
    width: 24%;
    height: 15.5%;
    top: 25%;
    left: 26%;
    padding-left: 0.5%;
}

.h2 {
    color: $color-white;
    position: absolute;
    padding-left: 0.1%;
    top: 43%;
    left: 16%;
}

.logo1 {
    width: 3.4%;
    height: 45%;
    position: absolute;
    top: 28%;
    left: 13%;
}

.top {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 15%;

    .dws {
        position: absolute;
        top: 60%;
        left: 70%;
        transform: translate(-8%, -70%);
    }

    .butt {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        color: $color-white;
        text-decoration: none;
        width: 100px;
        height: 30px;
        display: inline-block;
        text-align: center;
        line-height: 100%;
        position: relative;
        overflow: hidden;
    }

    .butt::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background:rgb(212, 224, 224);
        top: 0;
        left: -100%;
        opacity: 0.5;
        transition: 0.5s;
    }
    
    .butt:hover::before {
        left: 0;
    }
}

.down {
    background-color: rgb(15, 15, 15);
    margin-top: 7%;
    position:absolute;
    width: 100%;
    height: 85.4%;

    .logo2 {
        position: absolute;
        width: 5%;
        height: 12%;
        top: 25%;
        left: 20%;
    }

    .text {
        position: absolute;
        color:rgb(95, 102, 102);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 200%;
        width: 35%;
        height: 30%;
        top: 40%;
        left: 20%;
    }

    .picture {
        position: absolute;
        top: 15%;
        left: 60%;
        height: 48%;
        width: 35%;
    }
    
    .ending {
        color: $color-white;
        font-size: 100%;
        font-family:'Times New Roman', Times, serif;
        position: absolute;
        top: 93%;
        left: 61.5%;
        transform: translate(-90%, -61.5%);
    }
}