$color-white: aliceblue;

*{
    margin: 0;
    padding: 0;
}

.t1 {
    color: $color-white;
    position: absolute;
    top: 3.1%;
    left: 5.5%;
}

.top {
    float: left;
    background-color:rgb(20, 19, 19);
    position: absolute;
    width: 87%;
    height: 100%;

    .logo1 {
        position: absolute;
        top: 2%;
        left: 1%;
        height: 50px;
        width: 50px;
    }

    .search-box {
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:darkgray;
        height: 5%;
        width: 20%;
        border-radius: 40px;
        padding-top: 1%;
        padding-left: 2%;
    }
    
    .search-btn {
        color:$color-white;
        float: rigth;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display:absolute;
        padding-left: 7%;
        background-color:darkgrey;
        justify-content: center;
        align-items: center;
    }
    
    .search-txt {
        border: none;
        background: none;
        outline: none;
        font-size: 18px;
    }
}

.right {
    float: left;
    background-color:black;
    position: absolute;
    margin-left: 87%;
    width: 13%;
    height: 100%;

    .dws1 {
        position: absolute;
        top: 70%;
        left: 30%;
        transform: translate(-8%, -70%);
    }

    .dws1 .butt {
        font-size: 21px;
        font-family: 'Times New Roman', Times, serif;
        color: $color-white;
        text-decoration: none;
        width: 100px;
        height: 50px;
        display: block;
        text-align: center;
        line-height: 45px;
        position: relative;
        overflow: hidden;
        margin-top: 30%;
    }

    .dws1 .butt::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background:rgb(212, 224, 224);
        top: 0;
        left: -100%;
        opacity: 0.5;
        transition: 0.5s;
    }

    .dws1 .butt:hover::before {
        left: 0;
    }

    .dws1 .butt1 {
        font-size: 21px;
        font-family: 'Times New Roman', Times, serif;
        color: $color-white;
        text-decoration: none;
        width: 100px;
        height: 50px;
        display: block;
        text-align: center;
        line-height: 45px;
        position: relative;
        overflow: hidden;
        margin-top: 360%;
    }

    .dws1 .butt1::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background:rgb(212, 224, 224);
        top: 0;
        left: -100%;
        opacity: 0.5;
        transition: 0.5s;
    }

    .dws1 .butt1:hover::before {
        left: 0;
    }
}

.center .t2 {
    position: absolute;
    top: 20%;
    left: 7%;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.center .playlists {
    position: absolute;
    top: 34%;
    left: 11%;
}

.center .playlists .create {
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkgray;
    text-decoration: none;
    width: 140%;
    height: 120%;
    display:block;
    border-radius: 5%;
    text-align: center;
    line-height: 350%;
    position: relative;
    background-color:rgb(41, 39, 39);
}

.center .playlists .t3 {
    padding-top: 8%;
    padding-left: 12%;
    width: 100%;
    color:darkgray
}

