*{
    margin: 0;
    padding: 0;
}

.h2 {
    position: absolute;
    color:rgb(95, 102, 102);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    width: 250px;
    height: 250px;
    top: 38%;
    left: 26%;
}

.top {
    background-color: black;
    width: 100%;
    height: 100px;
}

.down {
    background-color: rgb(15, 15, 15);
    background-position: 0px 100px;
    width: 100%;
    height: 657px;
}

h2 {
    color: aliceblue;
    position: absolute;
    top: 7.6%;
    left: 21%;
}

.logo1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 18%;
}

.top .dws {
    position: absolute;
    top: 10.5%;
    left: 65%;
    transform: translate(-8%, -70%);
}

.top .butt {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    text-decoration: none;
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    position: relative;
    overflow: hidden;
}

.top .butt::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background:rgb(212, 224, 224);
    top: 0;
    left: -100%;
    opacity: 0.5;
    transition: 0.5s;
}

.top .butt:hover::before {
    left: 0;
}

.down .logo2 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 38%;
    left: 20%;
}

.down .text {
    position: absolute;
    color:rgb(95, 102, 102);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    width: 500px;
    height: 100px;
    top: 51%;
    left: 20%;
}

.down .picture {
    position: absolute;
    top: 30%;
    left: 60%;
    height: 300px;
    width: 500px;
}

.down .ending {
    color: aliceblue;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 93%;
    left: 61.5%;
    transform: translate(-90%, -61.5%);
}
