*{
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(20, 19, 19);
}

.t1 {
    color: aliceblue;
    position: absolute;
    top: 3.1%;
    left: 4.5%;
}

.top .logo1 {
    position: absolute;
    top: 2%;
    left: 1%;
    height: 50px;
    width: 50px;
}

.top .search-box {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:darkgray;
    height: 40px;
    width: 260px;
    border-radius: 40px;
    padding-top: 20px;
    padding-left: 30px;
}

.top .search-btn {
    color:aliceblue;
    float: rigth;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display:absolute;
    background-color:darkgrey;
    justify-content: center;
    align-items: center;
}

.top .search-txt {
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
}

.right .dws1 {
    position: absolute;
    top: 9.2%;
    left: 74%;
    transform: translate(-8%, -70%);
}

.right .dws1 .butt {
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    text-decoration: none;
    width: 150px;
    height: 75px;
    display:inline-block;
    text-align: center;
    line-height: 75px;
    position: relative;
    overflow: hidden;
    margin-left: 50px;
}

.right .dws1 .butt::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background:rgb(212, 224, 224);
    top: 0;
    left: -100%;
    opacity: 0.5;
    transition: 0.5s;
}

.right .dws1 .butt:hover::before {
    left: 0;
}
