*{
    margin: 0;
    padding: 0;
}

.top {
    float: left;
    background-color:rgb(20, 19, 19);
    width: 1383px;
    height: 757px;
}

.t1 {
    color: aliceblue;
    position: absolute;
    top: 3.1%;
    left: 4.5%;
}

.top .logo1 {
    position: absolute;
    top: 2%;
    left: 1%;
    height: 50px;
    width: 50px;
}

.right {
    float: left;
    background-color:black;
    width: 200px;
    height: 757px;
}

.center .t2 {
    position: absolute;
    top: 17%;
    left: 40%;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.dws1 {
    position: absolute;
    top: 71%;
    left: 88.5%;
    transform: translate(-8%, -70%);
}

.butt {
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    text-decoration: none;
    width: 150px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}

.butt::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background:rgb(212, 224, 224);
    top: 0;
    left: -100%;
    opacity: 0.5;
    transition: 0.5s;
}

.butt:hover::before {
    left: 0;
}

.right .dws1 .butt1 {
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    text-decoration: none;
    width: 150px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    margin-top: 200px;
}

.right .dws1 .butt1::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background:rgb(212, 224, 224);
    top: 0;
    left: -100%;
    opacity: 0.5;
    transition: 0.5s;
}

.right .dws1 .butt1:hover::before {
    left: 0;
}
